<app-header></app-header>
<ion-content>    
  <ion-slides>
    <ion-slide>
      <button routerLink="/ultimas">Últimas</button>
      <button routerLink="/desporto">Desporto</button>
      <button routerLink="/pais">País</button>
    </ion-slide>
    <ion-slide>
      <button routerLink="/saude">Saúde</button>
      <button routerLink="/mundo">Mundo</button>
      <button routerLink="/cultura">Cultura</button>
    </ion-slide>
  </ion-slides>
  <div class="cards" *ngFor="let ultima of ultimas">
    <img src="{{ultima.multimediaPrincipal}}">
    <div class="texto">
      <h1>{{ultima.titulo}}</h1>
      <div class="wrapper">
        <h6>{{ultima.autores[0].nome}}</h6>
        <h6>{{ultima.data | date: 'MMM d, y'}}</h6>
      </div>
    </div>
  </div>
</ion-content>
