<app-header></app-header>
<ion-content>    
  <ion-slides>
    <ion-slide>
      <button routerLink="home">Últimas</button>
      <button routerLink="home">Desporto</button>
      <button routerLink="home">País</button>
    </ion-slide>
    <ion-slide>
      <button routerLink="home">Saúde</button>
      <button routerLink="home">Mundo</button>
      <button routerLink="home">Cultura</button>
    </ion-slide>
  </ion-slides>
  <div class="cards">
    <img src="https://images.pexels.com/photos/6785289/pexels-photo-6785289.jpeg?cs=srgb&dl=pexels-sanndy-anghan-6785289.jpg&fm=jpg">
    <div class="texto">
      <h1 [routerLink]="['/noticia']">Mulher nadou por 5 horas seguidas e ficou com os dedos enrugados</h1>
      <div class="wrapper">
        <h6>Autor desconhecido</h6>
        <h6>10/10/1000</h6>
      </div>
    </div>
  </div>
  <div class="cards">
    <img src="https://images.pexels.com/photos/6785289/pexels-photo-6785289.jpeg?cs=srgb&dl=pexels-sanndy-anghan-6785289.jpg&fm=jpg">
    <div class="texto">
      <h1>
        Mulher nadou por 5 horas seguidas e ficou com os dedos enrugados
      </h1>
      <div class="wrapper">
        <h6>Autor desconhecido</h6>
        <h6>10/10/1000</h6>
      </div>
    </div>
  </div>
</ion-content>
