img {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    border-radius: 16px;
}
h1 {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 20px;
}
.autor {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}
.data {
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}
.dados {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    margin-bottom: -15px;
}
.texto {
    width: 295px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}
.descricao {
    width: 295px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    color: #696969;
}
.categoria {
    width: 305px;
    text-align: justify;
    padding-left: 11px;
    color: #A9A9A9;
    font-size: 12px;
    margin-bottom: -10px;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.avaliar {
    text-align: center;
    margin-top: 20px;
}
.likeDislike {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    .like {
        ion-button {
            width: 60px;
            height: 40px;
            ion-icon {
                width: 30px;
                height: 30px;
            }
        }
    }
    .dislike {
        ion-button {
            width: 60px;
            height: 40px;
            ion-icon {
                width: 30px;
                height: 30px;
            }
        }
    }
}
ion-content {
    background-color: white;
    --offset-bottom: auto !important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
