<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <img src="https://images.unsplash.com/photo-1619968987472-4d1b2784592e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80">
    <h1>Mulher nadou por 5 horas seguidas e ficou com os dedos enrugados</h1>
    <div class="dados">
        <h5 class="autor">Nome Autor</h5>
        <h5 class="data">01/01/2022</h5>
    </div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure quas molestias laborum laudantium neque reiciendis cum animi hic provident. Nobis dolore tenetur porro ab maiores quod corrupti deleniti nesciunt delectus?</p>
</ion-content>
