<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-label slot="end">
            <button><ion-icon name="share-social-outline"></ion-icon></button>
        </ion-label>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="categoria">
        <p>{{noticia.tags[0].nome}}</p>
    </div>
    <h1>{{noticia.titulo}}</h1>
    <div class="descricao">
        <p>{{noticia.descricao}}</p>
    </div>
    <img src={{noticia.multimediaPrincipal}}>
    <hr/>
    <div class="dados">
        <h5 class="autor">{{noticia.autores[0].nome}}</h5>
        <h5 class="data">{{noticia.data | date: 'MMM d, y'}}</h5>
    </div>
    <hr/>
    <div class="texto">
        <p>{{noticia.texto}}</p>
    </div>
</ion-content>
