<ion-slides padding [options]="sliderOptions">
  <ion-slide>
    <button routerLink="/ultimas">Últimas</button>
  </ion-slide>
  <ion-slide>
    <button routerLink="/desporto">Desporto</button>
  </ion-slide>
  <ion-slide>
    <button routerLink="/economia">Economia</button>
  </ion-slide>
  <ion-slide>
    <button routerLink="/saude">Saúde</button>
  </ion-slide>
  <ion-slide>
    <button routerLink="/mundo">Mundo</button>
  </ion-slide>
  <ion-slide>
    <button routerLink="/cultura">Cultura</button>
  </ion-slide>
</ion-slides>