<app-header></app-header>
<ion-content>
  <div class="container">
    <ion-searchbar></ion-searchbar>
    <div class="cards">
      <img src="https://images.unsplash.com/photo-1620183593743-53a70fc2e66d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80">
      <div class="texto">
        <h1>titulo</h1>
        <div class="wrapper">
          <h6>autor</h6>
          <h6>data</h6>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
