<app-header-noticia></app-header-noticia>
<ion-content>
  <div class="container">
    <form>
      <ion-searchbar [(ngModel)]="news.search" name="search" onSubmit="news.search"></ion-searchbar>
      <button [routerLink]="['/search']" (click)="getNews(news.search)"></button>
    </form>
    <div class="cards" *ngFor="let new of news" [routerLink]="['/noticia', new.id]">
      <img src="{{new.multimediaPrincipal}}">
      <div class="texto">
        <h1>{{new.titulo}}</h1>
        <p>{{new.descricao}}</p>
        <div class="wrapper">
          <h6>{{new.autores[0].nome}}</h6>
          <h6>{{new.data | date: 'MMM d, y'}}</h6>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
