button {
    background-color: transparent;
    height: 30px;
    width: 30px;
    ion-icon {
        font-size: 26px;
    }
}
ion-title {
    font-family: 'Krona One', sans-serif;
    cursor: pointer;
}